 .footer {
      width: 100%;
      background-color: black;
      color: white;
      text-align: right;
      position: fixed;
      bottom: 0;
      font-size: 12px;
  }

  .footer p {
      padding: 0 20px;
      margin-top: 10px;
  }
  