.left-align{
    float: left;  
  }
  
  .right-align{
    float: right;
  }
  
  .left-align h2{
    /* margin: 10px; */
    padding: 10px;
  }
  
  .right-align li{
    list-style-type: none;
    display: inline-block;
    padding: 20px;
    cursor: pointer
    
    /* margin: 10px; */
  }
  .header-container{
    background-color:#f2f2f2;
    display: inline-block;
    width: 100%;
  
  }

  .active{
      background-color: white;
  }
  

  .active a{
    font-weight: bold;
    color: black !important;
    text-decoration: none !important;
  }

  .header-text{
    display: inline-block;
    margin-top: 15px;
    margin-left: 15px;
    text-decoration: underline;
    font-size: 20px;
  }